<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="icon" href="images/favcon.png" type="image/png" />
        <meta name="viewport" content="viewport-fit=cover, width=device-width,initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no" />
        <link rel="apple-touch-icon" href="images/app-logo.png" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="application-name" content="BGBG01" />
        <meta name="apple-mobile-web-app-title" content="BGBG01" />
        <meta name="msapplication-starturl" content="/" />
        <link rel="manifest" href="manifest.json" />

        <!-- ---- -->

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="styles.css" />
        <link rel="stylesheet" href="list.css" />
        <script src="https://kit.fontawesome.com/31648eb95d.js" crossorigin="anonymous"></script>
        <title>빡JY's 플렉스</title>
        <script data-ad-client="ca-pub-9992471934946169" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    </head>
    <body>
        <input type="checkbox" class="toggler" checked />
        <div class="menu">
            <div>
                <div>
                    <div class="pro-logo"><img src="https://fontmeme.com/permalink/201109/e52951d466a0db107caf4e426bd6430b.png" alt="" /></div>
                    <h2>Poshflix를 시청할 프로필을 선택하세요.</h2>
                    <ul>
                        <li class="profile">
                            <div>
                                <a href="/master">
                                    <div>
                                        <div class="profile-icon" style="background-image: url(images/pjy-face.JPG)"></div>
                                    </div>
                                    <span class="profile-name">빡's flex</span>
                                </a>
                            </div>
                        </li>
                        <li class="profile">
                            <div>
                                <a href="/master">
                                    <div>
                                        <div class="profile-icon" style="background-image: url(https://occ-0-988-993.1.nflxso.net/dnm/api/v6/0RO1pLmU93-gdXvuxd_iYjzPqkc/AAAABXhp5HP4mhkdVeQArMrlAQzXKC2Msh_QSY1MEgD1JkcGpPsVWktTQPACg__X19xET77cgRGRVYpDYbNxcr5YjWGmui83.png?r=a38)"></div>
                                    </div>
                                    <span class="profile-name">나샤</span>
                                </a>
                            </div>
                        </li>
                        <li class="profile">
                            <div>
                                <a href="/master">
                                    <div>
                                        <div class="profile-icon" style="background-image: url(images/netflix-face.jpg)"></div>
                                    </div>
                                    <span class="profile-name">마리아</span>
                                </a>
                            </div>
                        </li>
                        <li class="profile">
                            <div>
                                <a href="/master">
                                    <div>
                                        <div class="profile-icon" style="background-image: url(images/netflix-face.jpg)"></div>
                                    </div>
                                    <span class="profile-name">에클</span>
                                </a>
                            </div>
                        </li>
                        <li class="profile">
                            <div>
                                <a href="/master">
                                    <div>
                                        <div class="profile-icon" style="background-image: url(images/netflix-face.jpg)"></div>
                                    </div>
                                    <span class="profile-name">라라</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <article class="pwa">
                <img src="images/pwa-back.png" alt="" />
            </article>
        </div>
    </body>
</html>
